<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все задачи</title>
</head>
<body>

<style>
    form {
        display: inline-block;
    }
</style>

<h3>ВСЕ ЗАДАЧИ</h3>

<label style="color: green">_Description______________Deadline_______________Status</label>
<div th:each="task : ${todolist}">
    <form th:method="PATCH" th:action="@{/todolist/edit}">
        <input type="hidden" name="id" th:value="${task.id}">
        <input type="text" name="description" th:value="${task.description}">
        <input type="text" name="deadline" th:value="${task.deadline}">

        <select name="status" th:value="${task.status}">
            <option th:each="st : ${status}" th:text="${st}" th:selected="${st==task.status}"></option>
        </select>
        <input type="submit" value="edit"/>
    </form>

    <form th:method="DELETE" th:action="@{/todolist/{id}(id=${task.getId()})}"><input type="submit" value="Delete"/></form>

</div>

<br/>
<hr/>
<form th:method="POST" th:action="@{/todolist}" th:object="${tasks}">
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description error</div>
    <input type="text" th:field="*{deadline}" id="deadline"/>
    <div style="color: red" th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}">deadline error</div>
    <select name="status" th:value="${status}" id="status">
        <option th:each="st : ${status}" th:text="${st}"></option>
    </select>
    <div style="color: red" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">status error</div>
    <input type="submit" value="Создать!">
</form>
<hr/>
<a th:href="@{/todolist/new}">Создать новую задачу</a>
<br/>
<a th:href="@{/todolist}">Ссылка на страницу todolist</a>


</body>

</html>